[submodule "extern/openvr/src"]
	path = extern/openvr/src
	url = https://github.com/ValveSoftware/openvr.git
[submodule "extern/eigen"]
	path = extern/eigen
	url = https://gitlab.com/libeigen/eigen.git
